﻿<div class="col-xs-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ vm.isDelete ? 'Eliminar' : vm.estado.EstadoID ? 'Editar' : 'Nuevo' }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form name="form" class="form-horizontal" role="form" novalidate>
                <fieldset ng-disabled="vm.isDelete || vm.success">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Identificador</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ vm.estado.EstadoID }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nombre</label>
                        <div class="col-md-10">
                            <div class="{{form.nombre.$valid ? 'has-success' : 'has-error'}} has-feedback">
                                <input class="form-control" name="nombre" ng-model="vm.estado.Nombre" ng-required="true" ng-maxlength="50" />
                                <span class="glyphicon {{form.nombre.$valid ? 'glyphicon-ok' : 'glyphicon-remove' }} form-control-feedback"></span>
                            </div>
                            <span class="text-danger small" ng-show="form.nombre.$touched && form.nombre.$error.required">Dato requerido.</span>
                            <span class="text-danger small" ng-show="form.nombre.$touched && form.nombre.$error.maxlength">Longitud máxima 50.</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix text-right">
            <button class="btn btn-primary" ng-click="vm.cancel()">Cancelar</button>
            <button class="btn btn-{{vm.isDelete ? 'danger' : 'success'}}" ng-click="vm.save()" ng-disabled="!vm.estado || form.$invalid || vm.success">{{ vm.isDelete ? 'Eliminar' : 'Guardar' }}</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>