﻿
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-xs">
                    <a ng-href="{{vm.estadoid ? '': '#/new'}}" class="btn btn-md btn-primary" ng-disabled="vm.estadoid">
                        <i class="fa fa-plus-circle"></i>&nbsp;Nuevo
                    </a>
                    <a ng-href="{{vm.estadoid ? '#/edit/'+vm.estadoid: ''}}" class="btn btn-md btn-warning" ng-disabled="!vm.estadoid">
                        <i class="fa fa-edit"></i>&nbsp;Editar
                    </a>
                    <a ng-href="{{vm.estadoid ? '#/delete/'+vm.estadoid : ''}}" class="btn btn-md btn-danger" ng-disabled="!vm.estadoid">
                        <i class="fa fa-trash"></i>&nbsp;Eliminar
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group margin-bottom-xs">
                    <div class="input-group input-group-md">
                        <input class="form-control" placeholder="Búsqueda..." type="text" ng-model="vm.pagingInfoEstado.search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="vm.navigation.search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="visible-md visible-lg"></th>
                        <th>
                            Nombre
                            <a class="pull-right" href="" ng-click="vm.navigation.sort('Nombre')">
                                <i class="fa fa-{{vm.pagingInfoEstado.sortBy !== 'Nombre' ? 'arrows-v' : 'sort-amount-'+ (vm.pagingInfoEstado.reverse?'desc':'asc')}}"></i>
                            </a>
                        </th>
                        <th class="visible-md visible-lg" ng-if="vm.estadoid">Acción</th>
                        <th class="visible-md visible-lg"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset ng-disabled="vm.estadoid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="btn-group">
                                                <button class="btn btn-default" ng-click="vm.navigation.first()" ng-disabled="!(vm.pagingInfoEstado.current > 0)"><i class="fa fa-angle-double-left"></i></button>
                                                <button class="btn btn-default" ng-click="vm.navigation.prior()" ng-disabled="!(vm.pagingInfoEstado.current > 0)"><i class="fa fa-angle-left"></i></button>
                                                <button class="btn btn-default visible-md visible-lg" ng-click="vm.navigation.current()">Página {{vm.pagingInfoEstado.current + (vm.pagingInfoEstado.total > 0 ? 1 : 0)}} de {{vm.pagingInfoEstado.total}}</button>
                                                <button class="btn btn-default visible-xs visible-sm" ng-click="vm.navigation.current()">{{vm.pagingInfoEstado.current + (vm.pagingInfoEstado.total > 0 ? 1 : 0)}} de {{vm.pagingInfoEstado.total}}</button>
                                                <button class="btn btn-default" ng-click="vm.navigation.next()" ng-disabled="!(vm.pagingInfoEstado.current < vm.pagingInfoEstado.total-1)"><i class="fa fa-angle-right"></i></button>
                                                <button class="btn btn-default" ng-click="vm.navigation.last()" ng-disabled="!(vm.pagingInfoEstado.current < vm.pagingInfoEstado.total-1)"><i class="fa fa-angle-double-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control" ng-options="elementos.value as elementos.name for elementos in vm.mostrarElementos" ng-model="vm.pagingInfoEstado.size" ng-change="vm.navigation.size()"></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="estado in vm.estados" ng-click="vm.setSelected(estado.EstadoID)" ng-class="{selected: estado.EstadoID === vm.estadoid}">
                        <td class="td-width-selected visible-md visible-lg">
                            <i ng-if="estado.EstadoID === vm.estadoid" class="fa fa-play"></i>
                        </td>
                        <td class="td-width-xl">
                            {{estado.Nombre}}
                        </td>
                        <td class="visible-md visible-lg td-width-md" ng-if="estado.EstadoID === vm.estadoid">
                            <a class="btn btn-xs" ng-click="vm.notSelect = true" ng-href="#/edit/{{estado.EstadoID}}" uib-tooltip="Editar">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-xs" ng-click="vm.notSelect = true" ng-href="#/delete/{{estado.EstadoID}}" uib-tooltip="Eliminar">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        <td class="hidden-md" ng-if="estado.EstadoID === vm.estadoid">
                            <a class="btn btn-xs btn-warning" ng-click="vm.notSelect = true" ng-href="#/edit/{{estado.EstadoID}}" uib-tooltip="Editar">
                                <i class="fa fa-edit"></i>&nbsp;Editar
                            </a>
                            <a class="btn btn-xs btn-danger" ng-click="vm.notSelect = true" ng-href="#/delete/{{estado.EstadoID}}" uib-tooltip="Eliminar">
                                <i class="fa fa-trash"></i>&nbsp;Eliminar
                            </a>
                        </td>
                        <td class="visible-md visible-lg"></td>
                    </tr>
                </tbody>
            </table>
            <hr class="visible-sm visible-md visible-lg margin-top-xs margin-bottom-xs" />
            <div class="row">
                <div class="col-md-12">
                    <fieldset ng-disabled="vm.estadoid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <button class="btn btn-default" ng-click="vm.navigation.first()" ng-disabled="!(vm.pagingInfoEstado.current > 0)"><i class="fa fa-angle-double-left"></i></button>
                                    <button class="btn btn-default" ng-click="vm.navigation.prior()" ng-disabled="!(vm.pagingInfoEstado.current > 0)"><i class="fa fa-angle-left"></i></button>
                                    <button class="btn btn-default visible-md visible-lg" ng-click="vm.navigation.current()">Página {{vm.pagingInfoEstado.current + (vm.pagingInfoEstado.total > 0 ? 1 : 0)}} de {{vm.pagingInfoEstado.total}}</button>
                                    <button class="btn btn-default visible-xs visible-sm" ng-click="vm.navigation.current()">{{vm.pagingInfoEstado.current + (vm.pagingInfoEstado.total > 0 ? 1 : 0)}} de {{vm.pagingInfoEstado.total}}</button>
                                    <button class="btn btn-default" ng-click="vm.navigation.next()" ng-disabled="!(vm.pagingInfoEstado.current < vm.pagingInfoEstado.total-1)"><i class="fa fa-angle-right"></i></button>
                                    <button class="btn btn-default" ng-click="vm.navigation.last()" ng-disabled="!(vm.pagingInfoEstado.current < vm.pagingInfoEstado.total-1)"><i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" ng-options="elementos.value as elementos.name for elementos in vm.mostrarElementos" ng-model="vm.pagingInfoEstado.size" ng-change="vm.navigation.size()"></select>
                            </div>
                        </div>
                    </fieldset>
                </div>        
            </div>
        </div>
    </div>
</div>