﻿@using BoxExample.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
<!-- Page Heading -->
<!-- /.content -->
<!-- Main content -->
<section class="" ng-app="estadosApp">
    <!-- Main row -->
    <div class="row" ng-view>
    </div>
    <!-- /.row (main row) -->
    <!-- Templates -->
    <script type="text/ng-template" id="estado/list">
        @Html.Partial("_list")
    </script>

    <script type="text/ng-template" id="estado/edit">
        @Html.Partial("_edit")
    </script>
    <!-- /.templates -->
</section>
<!-- /.content -->

@section scripts {
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/core/core.app.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/core/core.constants.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/core/core.filters.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/core/core.directives.js")"></script>

    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados.app.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados.config.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados.data.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados-list.controller.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados-new.controller.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados-edit.controller.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithVersion("~/Scripts/ng-apps/namemodule/estados/estados-delete.controller.js")"></script>
}
